.tooltip {
    background-color: #1311118c;
    font-size: 15px;
    padding: 5px;
    color: #ffffff;
    position: absolute;
    border-radius: 10px;
    opacity: 1;
    width: auto;
}

.date-input {
    width: 100px;
}

.input-label{
    width: 30px;
    text-align: center;
}

.row{
    display: inline-block;
  /* width: 100px;
  height: 50px; */
  border: 1px solid rgba(255, 0, 0, 0.267);
}